[Unit]
Description=DigitalOcean DynDNS updater
After=network.target

[Service]
Environment="DIGITALOCEAN_ACCESS_TOKEN="
Environment="WOODY_PERIOD=5m"

Restart=always
ExecStart=/usr/bin/woody
TimeoutStopSec=20s

DynamicUser=true
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
UMask=077

[Install]
WantedBy=multi-user.target
